body{
    background: linear-gradient(#000000, #ffffff);

}

p{
    background-color: #fff;
    color:#000000;
    border-radius: 20px;
}
/*seletor individual*/
#principal{
    border: 2px solid #00f;
}

.sombra{
    box-shadow: 10px 10px 10px #f00;
}

.caixa{
    padding: 10px;
    margin-bottom: 100px;
}