*{
font-family: Arial, 'Century Gothic';
}

body{
    margin: 0;
    background-color: #f1f8e0;
}

header{
    background-color: #22540f;
    color: #fff;
    height: 50px;
    padding-top: 40px;
    padding-left: 20px;
}

h1{
    padding: 0;
    margin: 0;
}

p{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

footer{
    background-color: #000;
    color: #fff;
    height: 50px;
    padding: 10px;
    text-align: center;
}

figure{
    background-color: #fff;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #1a4a07;
    margin: 0;
    box-sizing: border-box;
}

figure img{
    Width: 100%;
    height: 250px;
    object-fit: cover;
}

#principal{
    text-align: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1000px;
}